<h1>Editing landmark_visit</h1>

<% form_for(@landmark_visit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :landmark_id %><br />
    <%= f.text_field :landmark_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @landmark_visit %> |
<%= link_to 'Back', landmark_visits_path %>