<h1>Listing landmark_visits</h1>

<table>
  <tr>
    <th>User</th>
    <th>Landmark</th>
  </tr>

<% @landmark_visits.each do |landmark_visit| %>
  <tr>
    <td><%=h landmark_visit.user_id %></td>
    <td><%=h landmark_visit.landmark_id %></td>
    <td><%= link_to 'Show', landmark_visit %></td>
    <td><%= link_to 'Edit', edit_landmark_visit_path(landmark_visit) %></td>
    <td><%= link_to 'Destroy', landmark_visit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New landmark_visit', new_landmark_visit_path %>