<h1>Listing landmarks</h1>

<table>
  <tr>
    <th>Foursquare venue</th>
    <th>Gowalla spot</th>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>

<% @landmarks.each do |landmark| %>
  <tr>
    <td><%=h landmark.foursquare_venue_id %></td>
    <td><%=h landmark.gowalla_spot_id %></td>
    <td><%=h landmark.name %></td>
    <td><%=h landmark.latitude %></td>
    <td><%=h landmark.longitude %></td>
    <td><%=h landmark.address %></td>
    <td><%=h landmark.city %></td>
    <td><%=h landmark.state %></td>
    <td><%=h landmark.zip %></td>
    <td><%= link_to 'Show', landmark %></td>
    <td><%= link_to 'Edit', edit_landmark_path(landmark) %></td>
    <td><%= link_to 'Destroy', landmark, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New landmark', new_landmark_path %>