<h1>Listing log_entries</h1>

<table>
  <tr>
    <th>User</th>
    <th>Category</th>
    <th>Note</th>
  </tr>

<% @log_entries.each do |log_entry| %>
  <tr>
    <td><%=h log_entry.user_id %></td>
    <td><%=h log_entry.category %></td>
    <td><%=h log_entry.note %></td>
    <td><%= link_to 'Show', log_entry %></td>
    <td><%= link_to 'Edit', edit_log_entry_path(log_entry) %></td>
    <td><%= link_to 'Destroy', log_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New log_entry', new_log_entry_path %>