<h1>New direction_distance_estimate</h1>

<% form_for(@direction_distance_estimate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :landmark_visit_id %><br />
    <%= f.text_field :landmark_visit_id %>
  </p>
  <p>
    <%= f.label :start_landmark_id %><br />
    <%= f.text_field :start_landmark_id %>
  </p>
  <p>
    <%= f.label :target_landmark_id %><br />
    <%= f.text_field :target_landmark_id %>
  </p>
  <p>
    <%= f.label :direction_estimate %><br />
    <%= f.text_field :direction_estimate %>
  </p>
  <p>
    <%= f.label :distance_estimate %><br />
    <%= f.text_field :distance_estimate %>
  </p>
  <p>
    <%= f.label :distance_estimate_units %><br />
    <%= f.text_field :distance_estimate_units %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', direction_distance_estimates_path %>