<p>
  <b>User:</b>
  <%=h @direction_distance_estimate.user_id %>
</p>

<p>
  <b>Landmark visit:</b>
  <%=h @direction_distance_estimate.landmark_visit_id %>
</p>

<p>
  <b>Start landmark:</b>
  <%=h @direction_distance_estimate.start_landmark_id %>
</p>

<p>
  <b>Target landmark:</b>
  <%=h @direction_distance_estimate.target_landmark_id %>
</p>

<p>
  <b>Direction estimate:</b>
  <%=h @direction_distance_estimate.direction_estimate %>
</p>

<p>
  <b>Distance estimate:</b>
  <%=h @direction_distance_estimate.distance_estimate %>
</p>

<p>
  <b>Distance estimate units:</b>
  <%=h @direction_distance_estimate.distance_estimate_units %>
</p>


<%= link_to 'Edit', edit_direction_distance_estimate_path(@direction_distance_estimate) %> |
<%= link_to 'Back', direction_distance_estimates_path %>